body {
    margin: 10px;
    background-color: lightgray;

}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    bottom: 120px;       
}

#header {
    height: auto;
    width: 100%;
    background-color: lightsalmon;
    max-width: auto;
    max-height: 160px;
    
    
}

#newPostArea {
    height: 500px;
    width: 50%;
    background-color: lightskyblue;
    position: relative;
    margin: 50px auto;
    padding: 30px;
}

#newJournalTitle {
    position: absolute;
    left: 0px;
    top: 0px;
}

#newJournalBody {
    position: absolute;
    width: 100%;
    
    top: 100px;
    
    height: 300px;
}

#newJournalForm {
    position: relative;
}

#newJournalSend {
    position: absolute;
    top: 480px;
    left: 0px;
}

#newJournal {
    height: 100px;
    width: 100px;
    background-color: rgb(61, 219, 61);
    position: relative;
    margin: 30px;
    display: inline;

}