
body {
    margin: 0px;
    background-color: lightgray;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    padding-top: 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position:relative;
    justify-content: center;
  
}

#title{
    align-self: center;
    justify-self: center;
    grid-column-start: 2;
    grid-row-start: 1;
}

nav {
    height: auto;
    width: 100%;
    background-color: lightsalmon;
    max-height: 160px;
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

#newJournalForm {
    height: 500px;
    width: 80%;
    background-color: lightskyblue;
    position: relative;
    align-self: center;
    padding: 20px;
    display: none;
    margin-left: 8.75%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

    justify-self: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 1fr 20%;
}

#newJournalTitle {
    grid-column-start: 1;
    grid-row-start: 1;
    
}




#newJournalBody {

    width: 100%;
    
    grid-row-start: 2;
    grid-column-start: 1;
    box-sizing: border-box;
    height: 300px;

    resize: none;
}



#newJournal {
    height: 100px;
    width: 100px;
    background-color: rgb(61, 219, 61);
   
    margin: 0px;
    grid-column-start: 1;
    grid-row-start: 3;
}
#newJournalButton {
    height: 100px;
    width: 100px;
    background-color: rgb(61, 219, 61);
    grid-column-start: 1;
    grid-row-start: 3;
    margin: 20px;
    justify-self: flex-start;
    grid-column-start: 1;
    grid-row-start: 1;

}

#gifButton{
    grid-column-start: 2;
    grid-row-start: 3;
}

#gifDisplay{
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50% 50%;
    max-height: 300px;
    max-width: 100%;
}

.gif{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
}
*{
    margin: 0px;
    padding: 0px;
}

.parentDiv{
    background-color: white;
    border: 0px;
    border-radius: 20px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 20px 0px;
    width: 80%;
    align-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 70% 30%;
    height: auto;
    flex-grow: 2;
    height: 500px;
    box-sizing: border-box;
    position: relative;
}

#dynamic{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 200px;
}

.commentForm{
    display: none;
    grid-row-start: 4;
}

.commentDiv{
    display: none;
    grid-row-start: 4;
    margin: 0px;
    height: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;

    overflow-y:scroll;
}

.comment{
    margin: 10px;
}

.blogTitle{
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 50px;
    text-align: center;
    display: block;
}

.dateTime{
    grid-row-start: 1;
    grid-column-start: 1;
    justify-self: end;

}

.blogContent{
    grid-row-start: 2;
    grid-column-start: 1;
    background-color: rgb(250, 250, 250);
    border: 0px;
    height: 100%;
    overflow-y: scroll;
    padding: 10px;
    margin: 10px;
    display: block;
    max-height: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
}

.gifContainer{
    grid-row-start: 2;
    grid-column-start: 2;
    max-width: 100%;
    max-height: 350px;
    justify-self: center;
    align-self: center;
}

.buttonParent{
    grid-row-start: 3;
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.reactForm{
    justify-content: space-between;
    padding: 5px;
    width: 30%;
}

hr{
    margin: 0px;
}

-webkit-scrollbar {
    display: none;
  }



  #thumbButtonUp{
      margin-right: 10px;
      padding: 5px;
  }
  #thumbButtonDown{
      margin-right: 10px;
      padding: 5px;
  }
  #eyesButton{
      margin-right: 10px;
      padding: 5px;
  }

